In [5]:
import math

In [6]:
x=1

In [7]:
y=math.sqrt

In [8]:
callable(x)

False

In [9]:
callable(y)

True

In [13]:
def hello_1(greeting, name):
    print('{}, {}!'.format(greeting, name))

hello_1('ni hao', 'Professor')

ni hao, Professor!

In [18]:
class Fib:
    def __init__(self):
        self.a = 0
        self.b = 1
        
    def __next__(self):
        self.a, self.b = self.b, self.a + self.b
        return self.a
    
    def __iter__(self):
        return self

In [19]:
fib = Fib()
for i in fib:
    print(i, end=' ')
    if i > 1000: break

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [29]:
fib = Fib()
for i in fib:
    print(i, end='1000')
    if i < 1000: break

11000

In [30]:
def square(x):
    'calculates the square of the number x.'
    return x*x

In [36]:
x=3
x=square(x)
print(x)

9

In [41]:
def test():
    print('This is printed')
    return
print('This is not')

This is not

In [42]:
x=test()

This is printed

In [43]:
x

In [44]:
print(x)

None

In [45]:
def try_to_change(n):
    n = 'Mr. Bob'

In [46]:
name='Mrs Alice'

In [47]:
try_to_change(name)

In [48]:
name

'Mrs Alice'

In [49]:
name= 'Mrs. Alice'

In [50]:
n=name

In [51]:
n='Mr. Gao'

In [52]:
name

'Mrs. Alice'

In [53]:
def change(n):
    n[0]= 'Mr. Guang'

In [54]:
names=['Mrs. Zhan', 'Mrs. Gao']

In [55]:
change(names)

In [56]:
names

['Mr. Guang', 'Mrs. Gao']

In [57]:
names=['Mrs. Zhan', 'Mrs. Gao']

In [58]:
n=names

In [59]:
n[0]='Mr. Bob'

In [60]:
names

['Mr. Bob', 'Mrs. Gao']

In [61]:
names=['Mrs. Zhan', 'Mrs. Gao']

In [62]:
n=names

In [63]:
n[1]='Mrs. Li'

In [64]:
names

['Mrs. Zhan', 'Mrs. Li']

In [65]:
names=['Mrs. Zhan', 'Mrs. Gao']

In [66]:
n=names[:]

In [67]:
n is names

False

In [68]:
n==names

True

In [69]:
n[0]

'Mrs. Zhan'

In [70]:
n[1]

'Mrs. Gao'

In [71]:
n

['Mrs. Zhan', 'Mrs. Gao']

In [72]:
change(names[:])

In [73]:
names

['Mrs. Zhan', 'Mrs. Gao']

In [1]:
me='magnus lie hetland'

In [6]:
storage = {}

In [8]:
storage['first']={}

In [9]:
storage['middle']={}

In [10]:
storage['last']={}

In [11]:
me='magnus lie hetland'

In [12]:
storage['first']['magnus']=[me]

In [13]:
storage['middle']['lie']=[me]

In [14]:
storage['last']['hetland']=[me]

In [15]:
storage['middle']['lie']

['magnus lie hetland']

In [16]:
my_friend = 'Anne lie hetland'

In [17]:
storage['first'].setdefault('Anne',[]).append(my_friend)

In [20]:
storage['middle'].setdefault('lie',[]).append(my_friend)

In [21]:
storage['last'].setdefault('hetland',[]).append(my_friend)

In [22]:
storage['first']['Anne']

['Anne lie hetland']

In [25]:
storage['last']['hetland']

['magnus lie hetland', 'Anne lie hetland']

In [26]:
def init(data):
    data['first']={}
    data['middle']={}
    data['last']={}

In [27]:
storage={}

In [28]:
init(storage)

In [29]:
storage

{'first': {}, 'middle': {}, 'last': {}}

In [33]:
def lookup(data, label, name):
    return data[label].get(name)

In [34]:
lookup (storage, 'middle', 'lie')

In [35]:
print (storage)

{'first': {}, 'middle': {}, 'last': {}}

In [63]:
def inc(x): return x + 1

In [64]:
foo = 10

In [65]:
foo = inc(foo)

In [66]:
foo

11

In [67]:
def inc(x): x[0]=x[0] + 1

In [68]:
foo = [100]

In [69]:
inc(foo)

In [70]:
foo

[101]

In [86]:
def hello_1(greeting, name):
    print('{},{}!'.format(greetig,name))

In [87]:
def hello_2(name, greeting):
    print('{},{}!'.format(name, greeting))

In [85]:
hello_2('Hello','World')

Hello,World!

In [90]:
hello_1(name= 'World', greeting = 'Hello')

NameError: name 'greetig' is not defined

In [91]:
hello_2(greeting='hello', name='World')

World,hello!

In [93]:
def hello_3(greeting = 'Hello', name='World'):
    print('{},{}!'.format(greeting, name))

In [95]:
hello_3()

Hello,World!

In [96]:
hello_3('Greetings')

Greetings,World!

In [97]:
hello_3('Greetings','Universe')

Greetings,Universe!

In [99]:
hello_3(name= 'Yang')

Hello,Yang!

In [100]:
def hello_4(name, greeting = 'Hello', puntuation='!'):
    print('{},{}{}'.format(greeting, name, puntuation))

In [101]:
hello_4('Moon')

Hello,Moon!

In [102]:
hello_4('moon','Sun')

Sun,moon!

In [104]:
hello_4('Moon','Sun','...')

Sun,Moon...

In [105]:
hello_4('Moon',puntuation= '.')

Hello,Moon.

In [106]:
hello_4('Moon',greeting = 'Topness in the beauty')

Topness in the beauty,Moon!

In [107]:
hello_4()

TypeError: hello_4() missing 1 required positional argument: 'name'

In [110]:
def print_params(*params):
    print(params)

In [111]:
print_params('testing')

('testing',)

In [112]:
print_params(1,2,3)

(1, 2, 3)

In [127]:
def in_the_middle(x, y*, z):
    print(x, y,z)

SyntaxError: invalid syntax (<ipython-input-127-76f5bbbe2a56>, line 1)

In [128]:
in_the_middle(1,2,3,4,5, z=7)

NameError: name 'in_the_middle' is not defined

In [129]:
def print_params_3(**params):
    print(params)

In [130]:
print_params_3(x=1, y=2, z=3)

{'x': 1, 'y': 2, 'z': 3}

In [141]:
d={}

In [142]:
init(d)

In [167]:
store(d, 'Luke skywalker', 'Anakin skywalker')

UsageError: Unknown variable '(d,'

In [168]:
lookup(d, 'last', 'skywalker')

In [169]:
print(d)

{'first': {}, 'middle': {}, 'last': {}}

In [150]:
def add(x,y):
    return x + y

In [151]:
params=(1,2)

In [152]:
add(*params)

3

In [153]:
params={'name': 'Sir robin', 'greeting': 'Well met'}

In [154]:
hello_3(**params)

Well met,Sir robin!

In [161]:
def with_stars(**kwds):
    print(kwds['name'], 'is', kwds['age'], 'years old')

In [162]:
def without_stars(kwds):
    print(kwds['name'], 'is', kwds['age'],'year old')

In [163]:
args={'name':'Mr. Bob','age':65}

In [165]:
with_stars(**args)

Mr. Bob is 65 years old

In [166]:
without_stars(args)

Mr. Bob is 65 year old

In [172]:
def story(**kwds):
    return 'Ones upon a time, there was a ' \
'{job} called {name}.'.format_map(kwds)

In [190]:
def power(x, y, *others):
    if others:
        print('Recieved redundant paprameters:', others)
        return pow(x, y)

In [191]:
def interval(start, stop=None, step=1):
    'Imitates range() for step > 0'
    if stop is None:
        start, stop=0, start
        result = []

In [192]:
print(story(job='king', name='Bob'))

Ones upon a time, there was a king called Bob.

In [193]:
print(story(name='Sir Robin', job='brave knight'))

Ones upon a time, there was a brave knight called Sir Robin.

In [194]:
params={'job': 'language', 'name':'python'}

In [195]:
print(story(**params))

Ones upon a time, there was a language called python.

In [196]:
del params['job']

In [197]:
print(story(job='stroke of genious',**params))

Ones upon a time, there was a stroke of genious called python.

In [201]:
x=1

In [202]:
scope=vars()

In [203]:
scope['x']

1

In [204]:
scope['x'] +=1

In [205]:
x

2

In [206]:
def combine(parameter): print(parameter + external)

In [207]:
external = 'berry'

In [208]:
combine('scurb')

scurbberry

In [209]:
x=1

In [210]:
def chnage_global():
    global x
    x = x + 1

In [212]:
change_global()

NameError: name 'change_global' is not defined

In [213]:
x

1

In [214]:
def multiplier(factor):
    def multiplyByfactor(number):
        return number * factor
    return multiplyByfactor

In [215]:
double=multiplier(2)

In [216]:
double(5)

10

In [217]:
triple=multiplier(3)

In [218]:
triple(3)

9

In [219]:
multiplier(5)(4)

20

In [221]:
def search(sequence, number, lower, upper):
    if lower == upper:
    assert number == sequence[upper]
    return upper
else:
    middle = (lower + upper)//2
    if number > sequence[middle]:
        return search(sequence, number, middle + 1, upper)
    else:
        return search(sequence, number, lower, middle)

IndentationError: expected an indented block (<ipython-input-221-626ab376bb5e>, line 3)

In [251]:
list(map(str, range(10)))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [252]:
def func(x):
    return x.isalnum()

In [253]:
seq = ["foo", "x41","?!","***"]

In [254]:
list(filter(func, seq))

['foo', 'x41']

In [255]:
[x for x in seq if x.isalnum()]

['foo', 'x41']

In [256]:
filter(lambda x: x.isalnum(), seq)

In [260]:
numbers=[72, 101, 108, 108, 111, 44, 32, 119, 111, 114, 108, 100, 33]

In [261]:
from functools import reduce

In [262]:
reduce(lambda x, y: x + y, numbers)

1161