In [7]:
print('age:',28)

age: 28

In [8]:
name='gumby'

In [9]:
salutation='Mr'

In [12]:
greeting='Hello,'

In [13]:
print(greeting, salutation, name)

Hello, Mr gumby

In [4]:
print("I",'wish',"to","register","a","complaint",sep="$")

I$wish$to$register$a$complaint

In [5]:
print('hello',end='')

hello

In [6]:
print('world')

world

In [9]:
print('hello,',end='')
print('world!')

hello,world!

In [1]:
import math as foobar

In [2]:
foobar.sqrt(8)

2.8284271247461903

In [3]:
from math import sqrt as foobar

In [4]:
foobar(11)

3.3166247903554

In [5]:
x, y, z = 1, 2, 3

In [6]:
print(x, y, z)

1 2 3

In [7]:
x,y==y,x

(1, True, 1)

In [8]:
x,y=y,x

In [9]:
print(x,y,z)

2 1 3

In [10]:
values=1,2,3

In [11]:
values

(1, 2, 3)

In [12]:
x,y,z=values

In [13]:
x

1

In [14]:
scoundrel={'name':'Robin','girlfriend':'unknown'}

In [15]:
key,value=scoundrel.popitem()

In [16]:
key

'girlfriend'

In [17]:
value

'unknown'

In [18]:
x,y,z=1,2
Traceback (most recentcall last):

SyntaxError: invalid syntax (<ipython-input-18-aae2cdb694d4>, line 2)

In [19]:
a,b,*rest=[1,2,3,4]

In [20]:
rest

[3, 4]

In [21]:
name="Albus Percival Wulfric Brian Dumbledore"

In [22]:
first,*middle, last = name.split()

In [23]:
middle

['Percival', 'Wulfric', 'Brian']

In [24]:
a,*b,c="abc"

In [25]:
a,b,c

('a', ['b'], 'c')

In [26]:
x=2

In [27]:
x +=1

In [28]:
x*=2

In [29]:
x

6

In [30]:
fnord='foo'

In [31]:
fnord+='bar'

In [32]:
fnord*=2

In [33]:
fnord

'foobarfoobar'

In [34]:
True

True

In [35]:
False

False

In [36]:
True++1

2

In [37]:
True==1

True

In [38]:
False==0

True

In [39]:
True+False+42

43

In [40]:
bool('I think,therefire I am')

True

In [41]:
bool(42)

True

In [42]:
bool('')

False

In [43]:
bool(0)

False

In [44]:
"foo"=="foo"

True

In [45]:
"foo"=="bar"

False

In [46]:
"foo"="foo"

SyntaxError: can't assign to literal (<ipython-input-46-610de7be2a8e>, line 1)

In [47]:
x=y=[1,2,3]

In [48]:
z=[1,2,3]

In [49]:
x==y

True

In [50]:
x==z

True

In [51]:
x is y

True

In [52]:
x is z

False

In [53]:
x=[1,2,3]

In [54]:
y=[2,4]

In [55]:
x is not y

True

In [56]:
del x[2]

In [57]:
y[1]=1

In [58]:
y.reverse()

In [59]:
x==y

True

In [60]:
x is y

False

In [61]:
[1,2]<[2,1]

True

In [62]:
[2,[1,4]]<[2,[1,5]]

True

In [63]:
age=10

In [64]:
assert 0<age <100

In [65]:
age = -1

In [66]:
assert 0 <age < 100

AssertionError:

In [67]:
age = -1

In [68]:
assert 0 <age <100, " The age must be realistic"

AssertionError:  The age must be realistic

In [69]:
range(0,10)

range(0, 10)

In [70]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
range(10)

range(0, 10)

In [72]:
print(numbert)

NameError: name 'numbert' is not defined

In [73]:
range(0,100)

range(0, 100)

In [74]:
list(range(0,100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [75]:
list(zip(names,age))
[('anne',12), ('beth',45),('george',32),('damon',102)]

NameError: name 'names' is not defined

In [76]:
sorted([4,3,6,8,3])

[3, 3, 4, 6, 8]

In [77]:
sorted('Hello, world!')

[' ', '!', ',', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [78]:
list(reversed('Hello, World!'))

['!', 'd', 'l', 'r', 'o', 'W', ' ', ',', 'o', 'l', 'l', 'e', 'H']

In [79]:
''.join(reversed('Hello, World!'))

'!dlroW ,olleH'

In [80]:
range(0,20,3)

range(0, 20, 3)

In [83]:
range(0,10)

range(0, 10)

In [1]:
range(0,20)

range(0, 20)

In [2]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

In [4]:
[x*x for x in range (10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
[x*x for x in range (10) if x%3==0]

[0, 9, 36, 81]

In [6]:
[x*x for x in range(10) if x % 7==0]

[0, 49]

In [7]:
[x*x for x in range(10) if x % 7==1]

[1, 64]

In [12]:
[(x,y)for x in range(3) for y in range (3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [13]:
girls=['alice','starun','Anestia']

In [17]:
boys=['ethan','gao','wang']

In [18]:
[b+'+'+g for b in boys for g in girls if b[0]==g[0]]

[]

In [19]:
girls=['alice','starun','Anestia']

In [20]:
boys=['ethan','gao','wang']

In [21]:
letterGirls = {}

In [26]:
lettergirls.setdefault(girl[0],[]).append(girl)

NameError: name 'lettergirls' is not defined

In [27]:
squares={i:"{} squared is {}". format(i, i**2) for i in range(10)}

In [29]:
squares[8]

'8 squared is 64'

In [30]:
squares[5]

'5 squared is 25'

In [31]:
squares[21]

KeyError: 21

In [32]:
scoundrel={'age':42, 'first name':'Robin','last name':'of Locksley'}

In [33]:
robin=scoundrel

In [34]:
scoundrel

{'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}

In [35]:
robin

{'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}

In [36]:
scoundrel=None

In [37]:
robin

{'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}

In [38]:
x=1

In [39]:
del x

In [40]:
x

NameError: name 'x' is not defined

In [41]:
x=["Hello", "World"]

In [42]:
y=x

In [43]:
y[1]="Python"

In [44]:
x

['Hello', 'Python']

In [45]:
y[0]="Hi"

In [46]:
x

['Hi', 'Python']

In [47]:
from math import cubert

ImportError: cannot import name 'cubert' from 'math' (unknown location)

In [48]:
frommath import cubrt

SyntaxError: invalid syntax (<ipython-input-48-2949b724c371>, line 1)

In [49]:
from math import sqrt

In [52]:
scope={}

In [54]:
exec('sqrt=1',scope)

In [55]:
sqrt(4)

2.0

In [56]:
scope['sqrt']

1

In [57]:
len(scope)

2

In [58]:
scope.keys()

dict_keys(['__builtins__', 'sqrt'])

In [59]:
eval(input("Enter an arithmatic expression:"))

Enter an arithmatic expression:6+18*2

42

In [60]:
scope={}

In [62]:
scope['x']=2

In [63]:
scope['y']=3

In [70]:
eval('x*x',scope)

4

In [71]:
eval('x * y', scope)

6

In [76]:
scope={}

In [77]:
exec('x=2',scope)

In [78]:
eval('x*x',scope)

4